In [58]:
import pandas as pd

pd.set_option('display.max_rows', 30) #figure out how to display specific no. of rows other than specifying head

df = pd.read_csv('pokemon.csv')
df = df.drop(columns=['#'])

In [61]:
df = df.sort_index(0)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [81]:
ldf = df.set_index(['Generation' , 'Legendary'])
#ldf = df
ldf.sort_index(0 , ascending = [1 , 0]) #ascending generation descnding legendary False = 0 True = 1

                                     Name    Type 1    Type 2  Total   HP  \
Generation Legendary
1          True                  Articuno       Ice    Flying    580   90
           True                    Zapdos  Electric    Flying    580   90
           True                   Moltres      Fire    Flying    580   90
           True                    Mewtwo   Psychic       NaN    680  106
           True       MewtwoMega Mewtwo X   Psychic  Fighting    780  106
...                                   ...       ...       ...    ...  ...
6          False      GourgeistSuper Size     Ghost     Grass    494   85
           False                 Bergmite       Ice       NaN    304   55
           False                  Avalugg       Ice       NaN    514   95
           False                   Noibat    Flying    Dragon    245   40
           False                  Noivern    Flying    Dragon    535   85

                      Attack  Defense  Sp. Atk  Sp. Def  Speed
Generation Legendary
1          True           85      100       95      125     85
           True           90       85      125       90    100
           True          100       90      125       85     90
           True          110       90      154       90    130
           True          190      100      154      100    130
...                      ...      ...      ...      ...    ...
6          False         100      122       58       75     54
           False          69       85       32       35     28
           False         117      184       44       46     28
           False          30       35       45       40     55
           False          70       80       97       80    123

[800 rows x 10 columns]

In [86]:
for index , row in ldf.iterrows():
        print(row['Name'] , index['Legendary'])

TypeError: tuple indices must be integers or slices, not str