In [1]:
import pandas as pd

pd.set_option('display.max_rows', None) #figure out how to display specific no. of rows other than specifying head

df = pd.read_csv('pokemon.csv')
df = df.drop(columns=['#'])
df = df.sort_index(0)

In [2]:
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### find pokemon by type

In [3]:
tdf = df.set_index(['Type 1' , 'Type 2'])
tdf.sort_index(0 , ascending = [1 , 0])# must always sort index after setting

def findByType(t1 , t2 = False):
  for index , rows in tdf.iterrows():    
          if index[0] == t1:
               if (t2!=False) & (index[1] == t2):
                   print(row['Name'])
               else:
                   print(rows['Name'])

findByType(input('Type: '))

Type: Fire
Charmander
Charmeleon
Charizard
CharizardMega Charizard X
CharizardMega Charizard Y
Vulpix
Ninetales
Growlithe
Arcanine
Ponyta
Rapidash
Magmar
Flareon
Moltres
Cyndaquil
Quilava
Typhlosion
Slugma
Magcargo
Magby
Entei
Ho-oh
Torchic
Combusken
Blaziken
BlazikenMega Blaziken
Numel
Camerupt
CameruptMega Camerupt
Torkoal
Chimchar
Monferno
Infernape
Magmortar
Heatran
Tepig
Pignite
Emboar
Pansear
Simisear
Darumaka
DarmanitanStandard Mode
DarmanitanZen Mode
Heatmor
Fennekin
Braixen
Delphox
Fletchinder
Talonflame
Litleo
Pyroar
Volcanion

In [141]:
def showByType(t1 , idx = False):
    if t1 == '':
        return False
    else:
        print((tdf.drop(columns=['Total' , 'Generation', 'Legendary']).loc[t1]).to_string(index = idx))
showByType(input('Select Primary type of pokemon to show: ') , input('display secondary type? True or False(Default): '))

Select Primary type of pokemon to show:
display secondary type? True or False(Default):

False

# Finding legendaries

In [60]:
ldf = df.set_index(['Generation' , 'Legendary'])
#ldf = df
ldf = ldf.sort_index(0 , ascending = [1 , 0]) #ascending generation descnding legendary False = 0 True = 1

In [5]:
def isLegendary(name):
    for index , row in ldf.iterrows():
        if (row['Name'] == name)&(index[1] == True):
            return True
        else:
            continue
    return False

isLegendary(input('Enter Name of pokemon to check if legendary: '))

Enter Name of pokemon to check if legendary: Mewtwo

True

# Filtering Methods

In [56]:
out = tdf.loc[(tdf['Total'] >620)&(tdf['Legendary'] == False)]#
out = out.sort_values(by='Total', ascending =False)
out = out[['Name' , 'Total', 'Generation']].style.hide_index()
out

## Making summarized DF and saving to CSV

In [116]:
sdf = df
sdf['Power'] = sdf['Attack'] + sdf['Sp. Atk']
sdf['Protection'] = sdf.iloc[: , [6,8]].sum(axis=1)
sdf = sdf.drop(columns = sdf.columns[4:11])
sdf= sdf.iloc[:,[0,1,2,3,5,6,4]]

In [118]:
sdf.head().style.hide_index()
sdf.to_csv('Summarized.csv')