In [ ]:
import pandas as pd

pd.set_option('display.max_rows', 30) #figure out how to display specific no. of rows other than specifying head

df = pd.read_csv('pokemon.csv')
df = df.drop(columns=['#'])
df = df.sort_index(0)

In [ ]:
df.head()

### find pokemon by type

In [ ]:
tdf = df.set_index(['Type 1' , 'Type 2'])
tdf.sort_index(0 , ascending = [1 , 0])# must always sort index after setting

def findByType(t1 , t2 = False):
  for index , rows in tdf.iterrows():    
          if index[0] == t1:
               if (t2!=False) & (index[1] == t2):
                   print(row['Name'])
               else:
                   print(rows['Name'])

findByType(input('Type: '))

In [141]:
def showByType(t1 , idx = False):
    if t1 == '':
        return False
    else:
        print((tdf.drop(columns=['Total' , 'Generation', 'Legendary']).loc[t1]).to_string(index = idx))
showByType(input('Select Primary type of pokemon to show: ') , input('display secondary type? True or False(Default): '))

Select Primary type of pokemon to show:
display secondary type? True or False(Default):

False

# Finding legendaries

In [142]:
ldf = df.set_index(['Generation' , 'Legendary'])
#ldf = df
ldf = ldf.sort_index(0 , ascending = [1 , 0]) #ascending generation descnding legendary False = 0 True = 1

In [143]:
def isLegendary(name):
    for index , row in ldf.iterrows():
        if (row['Name'] == name)&(index[1] == True):
            return True
        else:
            continue
    return False

isLegendary(input('Enter Name of pokemon to check if legendary: '))

Enter Name of pokemon to check if legendary:

False

In [144]:
ldf['Power'] = ldf['Attack'] + ldf['Sp. Atk']
ldf[['Name' , 'Power']]

                                     Name  Power
Generation Legendary
1          True                  Articuno    180
           True                    Zapdos    215
           True                   Moltres    225
           True                    Mewtwo    264
           True       MewtwoMega Mewtwo X    344
...                                   ...    ...
6          False      GourgeistSuper Size    158
           False                 Bergmite    101
           False                  Avalugg    161
           False                   Noibat     75
           False                  Noivern    167

[800 rows x 2 columns]

In [ ]:
edf